@charset "utf-8";
*{
padding:0;
margin:0;
border:0;
     user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}
@font-face{
font-family: future;
src: url(../fonts/FUTRFW.ttf)	
	}
.html
{
	width:1903px;
}
.header
{
	width:100%;
	position:absolute;

}
.header_ul
{
	display:inline-block;
	height:relative;
	
}
.header_li
{
	display:inline-block;
	margin:25 25 25 25;
}

.headertext
{
	color:white;
	font-size:26px;
	font-family:Josefin Sans;
}
.callnow_main
{
	float:right;
	height:inherit;
}
.callnow_number
{
	float:right;
	color:white;
	font-family:Josefin Sans;
	font-size:55px;
	margin:15 20 25 5;
}
.footer
{
	background:#929292;
	width:100%;
	height:relative;
}
.main
{
	width:100%;
}
.main_banner_home
{
	width:100%;
	height:500px;
	position:relative;
	background-color:#efefef;
}
.ql
{
	width:100%;
	height:relative;
	background-color:#e2e2e2;
	position:relative;
	
}
.ql_cont
{
	width:17%;
	height:300px;
	margin:2% 8% 2% 8%;
	display:inline-block;
	position:relative;
}
.ql_img
{

	display:block;
	margin:0 auto;
	width:128px;
	top:15%;
	position:relative;
	
}
.ql_text
{
	position:relative;
	top:25%;
	font-size:15px;
	width:auto;
	margin:0 auto;
	text-align:center;
	font-family:Raleway;
	color:black;
}
.slideimg
{
	width:100%;
	height:relative;
	
}
.embedmap
{
	float:left;
	width:60%;
	height:relative;

}
.mapinfo
{
	float:left;
	width:25%;
	margin:50 0 0 7%;
	height:450px;
	
}
.mapframe{
 width:100%;
  height:500px;
}
.mapinfo_t
{
	font-family:Josefin Sans;
	font-size:35px;
	text-align:center;
}
.mapinfo_text
{
	width:100%;
	height:400px;
	padding:20px;
	font-size:17px;
	font-family:raleway;
}
.mm_w
{
	
	position:absolute;
	top:30vh;
	left:10%;
	
}
.mm_w_text
{
	font-size:59px;
	color:white;
	
	font-family:Julius Sans One;
	
}
.mw_w_text_r
{
	color:C50000;
}
.mw_w_contact
{
	width:370px;
	height:30px;
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Josefin Sans;
	font-size:20px;
	position:relative;
	top:10px;
	text-align:center;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

.mw_w_contact:active {
	position:relative;
	top:11px;
}
.main_infowrapper
{
	width:1920px;
	height:250px;
	margin:25 0 25 0;
}
.sliding-u-l-r-l {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
.sliding-u-l-r-l:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}
.sliding-u-l-r-l:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background: #00C1FF;
    transition: width .5s ease;
}
.sliding-u-l-r-l:hover:before {
    width: 100%;
    background: #00C1FF;
    transition: width .5s ease;
}
.sliding-u-l-r-l:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}
.content {
  position: absolute;

  transform: translate(0%, 90%);
  font-size: 50px;
  line-height: 40px;
  font-family: 'Lato', sans-serif;
  color: #ecf0f1;
  height: 160px;
  overflow:hidden;
}

.visible {
  font-weight:600;
  overflow:hidden;
  height:40px;
  padding:0 40px;
  
  &:before {
    content:'[';
    left: 0;
    line-height:40px;
  }
  &:after {
    content:']';
    position:absolute;
    right: 0;
    line-height:40px;
  }
  &:after, &:before {
    position:absolute;
    top:0;
    color:#16a085;
    font-size:42px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;

  }
}

.p1 {
  display:inline;
  float:left;
  margin:0;
}

.slide1 {
  margin-top:0;
  padding-left:155px;
  text-align:left;
  list-style:none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}



@-webkit-keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@-webkit-keyframes change {
  0%, 12%, 100% {transform:translateY(0);}
  17%,29% {transform:translateY(-25%);}
  34%,46% {transform:translateY(-50%);}
  51%,63% {transform:translateY(-75%);}
  68%,80% {transform:translateY(-50%);}
  85%,97% {transform:translateY(-25%);}
}

@keyframes opacity {
  0%, 100% {opacity:0;}
  50% {opacity:1;}
}

@keyframes change {
  0%, 12%, 100% {transform:translateY(-20%);}
  17%,29% {transform:translateY(-40%);}
  34%,46% {transform:translateY(-60%);}
  51%,63% {transform:translateY(-20%);}
  68%,80% {transform:translateY(-40%);}
  85%,97% {transform:translateY(-60%);}
}