.headertext
	{
	color:white;
	font-size:14px;
	font-family:Josefin Sans;
	}
	.mm_w_text
{
	font-size:30px;
	color:white;
	
	font-family:Julius Sans One;
	
}
			.mm_w
{
	display:none;
	width:0px;
	height:0px;
	position:absolute;
	top:18vh;
	left:3vw;
	
}
	.callnow_number
{
	position:relative;
	color:white;
	font-family:Josefin Sans;
	font-size:30px;
	margin:15 20 25 5;
}

	.header_li
	{
	display:block;
	
	margin:10 10 10 10;
	}
	.callnow_main
{
	float:none;
	position:absolute;
	height:inherit;
}